.header {
padding: 16px 24px;
background: white;
display: flex;
justify-content: space-between;
align-items: center;
box-shadow: 0 2px 10px rgba(0,0,0,.04);
}


.search {
padding: 8px 12px;
border-radius: 10px;
border: 1px solid #ddd;
}
