.sidebar {
  width: 220px;
  background: #fff;
  padding: 20px;
  padding-top: 0;
  box-shadow: 2px 0 10px rgba(0,0,0,.05);
}

.sidebar .logo {  
  font-size: 2.8rem; 
  font-weight: 700; 
  color: #4f46e5; 
  margin-top: 10px;
}

.nav-link {
  display: block;
  padding: 10px;
  margin-bottom: 6px;
  color: #555;
  text-decoration: none;
  border-radius: 10px;
}

.nav-link.active,
.nav-link:hover {
  background: #4f46e5;
  color: white;
}
